*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

button{
    all: unset;
}
  /* container*/

  header{
    min-height: 70px;
  }
  .container{
    max-width: 1100px;
}
.container-prodotti{
   
    border: 2px solid black;
}

/* colori testo */

.tx-red{
    color: red;
}


/* background */
  header{
    background-color: #ff6900;
  }
h5{
    background-color: red;
    
}
h6{
    background-color: green;
}

  /*flex*/

  .flex{
    display: flex;
  }
  .beetween{
    justify-content: space-between;
  }
  .gap{
    gap: 20px;
  }



  /*immagini*/
  .img-logo{

    max-height: 18px;
  }

  /* padding*/
  
  header{
    padding: 30px;
  }

  /* posizioni */

  .relativ{
    position: relative;
  }
  .sconto{
    position: absolute;
    bottom: 150px;
    left: 20;
  }
  .sostenibilita{
    position: absolute;
    bottom: 150px;
    left: 60px;
  }

  .cuore{
    position: absolute;
    top: 60px;
    right: 10px;
  }

/* bottoni */
button{
    position: relative;
    height: 640px; ;
    width: 440px;
}
.primo{
    background-color: blue;
}
.primo:hover{
    background-color: red;
}




button{
    border: 2px solid black;
}

