
/*generali*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

button{
    all: unset;
}

a {
    text-decoration: none; 
}

  /* container*/

  header{
    min-height: 70px;
  }
  .container{
    max-width: 1300px;
}
.container-prodotti{
   
    
}

/*margini*/
.m-bot{
    margin-bottom: 70px;
}
.m-left{
    margin-left: 140px;
}
/* dimensioni testo */
h2{
    font-size: 18px;
}

/* colori testo */
.tx-grey{
    color: gray;
    font-size: 12px;
}

.tx-red{
    color: red;

}
footer{
    color: white;
}
header{
    color: white;
}
.sconto{
    color: white;

}
.sostenibilita{
    color: white;
}
.sostenibilita{
    color: white;
}

a{
    color: white;
}

/* background */
  .bg-orange{
    background-color: #ff6900;
  }
.sconto{
    background-color: red;
    
}
.sostenibilita{
    background-color: green;
}
.sostenibilita-2{
    background-color: green;
}

footer{
    background-color: black;

}
.cuore{
    background-color: white;
}

  /*flex*/

  .flex{
    display: flex;
  }
  .beetween{
    justify-content: space-between;
  }
  .gap{
    gap: 20px;
  }
 .gap10{
    gap: 5px;
}


  /*immagini*/
  .img-logo{

    max-height: 18px;
  }

  /* padding*/
  
  header{
    padding: 30px;
  }
  .cuore{
    padding: 20px;
  }
.sconto{
    padding: 5px;
}
.sostenibilita{
    padding: 5px;
}
.sostenibilita-2{
    padding: 5px;
}
  /* posizioni */

  .relativ{
    position: relative;
  }
  .sconto{
    position: absolute;
    bottom: 150px;
    left: 20;
  }
  .sostenibilita{
    position: absolute;
    bottom: 150px;
    left: 44px;
  }
  .sostenibilita-2{
    position: absolute;
    bottom: 150px;
    left: 20px;
  }
  .cuore{
    position: absolute;
    top: 60px;
    right: 10px;
  }

/* bottoni */
button{
    position: relative;
    height: 640px; ;
    width: 440px;
    background-repeat: no-repeat;
}
.primo{
    background-image:url(../img/1.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.primo:hover{
    background-image:url(../img/1b.webp) ;
    background-position: center ;
    background-size: 100%;  
}

.secondo{
    background-image:url(../img/2.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.secondo:hover{
    background-image:url(../img/2b.webp) ;
    background-position: center ;
    background-size: 100%;  
}
.terzo{
    background-image:url(../img/3.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.terzo:hover{
    background-image:url(../img/3b.webp) ;
    background-position: center ;
    background-size: 100%;  
}
.quarto{
    background-image:url(../img/4.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.quarto:hover{
    background-image:url(../img/4b.webp) ;
    background-position: center ;
    background-size: 100%;  
}

.quinto{
    background-image:url(../img/5.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.quinto:hover{
    background-image:url(../img/5b.webp) ;
    background-position: center ;
    background-size: 100%;  
}
.sesto{
    background-image:url(../img/6.webp) ;
    background-position: center ;
    background-size: 100%;    
}
.sesto:hover{
    background-image:url(../img/6b.webp) ;
    background-position: center ;
    background-size: 100%;  
}



